<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div>
    <% if(messages && messages.error && messages.error.length> 0) { %>
      <% for(var i=0; i<messages.error.length; i++) { %>
        <li class="text-white rounded px-4 py-4 bg-red-500">
          <%= messages.error[i] %>
        </li>
        <% } %>
          <% } %>
  </div>
  <div class="relative align-items: flex-start min-h-screen flex-col jsutify-center overflow-hidden py-6 bg-pink-100 ">
    <div
      class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
      <div class="mx-auto max-w-md">
        <div><%- include('header.ejs') %></div>
        <div>
          <h3 class="text-2xl">Welcome, <%= userName %>
          </h3>
          <% if (elections.length==0) { %>
            <p>You have zero Elections</p>
            <br>
            <div>
              <a href="/election/create" class="text-pink-500">+Create your first Election+</a>
            </div>

            <% } else{ %>
              <p class="text-2xl px-3 py-4">Your Elections:</p>
              <% for(var i=0; i<elections.length; i++) {%> <br>

                <a href="/elections/<%= elections[i].id %>"
                  class="px-3 text-xl hover:text-pink-300 no-underline hover:underline px-4 py-4">
                  <%= i+1 %> .<%=elections[i].electionName %>
                </a>
                <br>
                  <% } %>
                    <br><div>
                      <a href="/election/create" class="bg-transparent hover:bg-pink-500 text-black font-semibold hover:text-white py-2 px-3 border border-pink-500 hover:border-transparent rounded">
                        ➕ Create a new election</a><br>
                    </div>
                  <div><br>
                    <% } %>
                </div>
                  <br>
                  <a href="/signout"
                    class="bg-transparent hover:bg-pink-400 text-pink-600 my-10 font-semibold hover:text-white py-2 px-4 border border-pink-600 hover:border-transparent rounded">
                    Signout</a>
                
        </div>
</body>

</html>