<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title><%= title %></title>
  </head>
  <body>
    <div><%- include('header.ejs') %></div>
    <div>
      <h3 class="text-2xl">Welcome, <%= userName %></h3>
      <% if (elections.length==0) { %>
       <p>You have zero elections
      <a href="createElection.ejs">Create a new election</a>
       </p>
      <% } else{ %>
        <p><%=elections[0].electionName %></p>
      <% } %> 
    </div>
  </body>
</html>