<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    <%= title %>
  </title>
  <script>
    var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
    function EndThisElection() {
        let electionId = <%=id%>;
        fetch(`/elections/${electionId}/ENDelection`, {
            method: "put",
            headers: {"Content-Type":"application/json"},
            body: JSON.stringify({
                "_csrf":token,
            })
        }).then((res)=>{
            if (res.ok) {
                window.location.replace(`/elections/${electionId}`);
            }
        }).catch((err)=> console.error(err))
    }
</script>
</head>

<body>
  <div class="relative flex min-h-screen flex-col jsutify-center overflow-hidden py-6 bg-pink-100 ">
    <div
      class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
      <div class="mx-auto max-w-md">
        <a href="/Elections" class="hover:text-pink-400 content-center px-5 py-4"> <%- include('header.ejs') %> </a>
        <div>
          <% if(messages && messages.error && messages.error.length > 0)  { %>
              <% for(var i=0; i<messages.error.length; i++) { %>
                      <li class="text-white rounded px-4 py-3 bg-red-500"> <%= messages.error[i] %></li>
              <% } %>
            <% } %>
      </div>
      <br>
        <h3 class="px-3 py-3 font-bold text-2xl text-cyan-600">Details of <%= ElectionName %> - Election:
        </h3><br>
        <% if (isRunning==true) { %>
          <h4 class="px-3 py-2 text-lg font-semibold text-green-900">This election has launched,voters can access this URL:</h4>
          <a href="/e/<%=customURL%>" class="px-3 py-2 <text-lg></text-lg> underline text-blue-800 live-icon">
            https://voteonline.onrender.com/e/<%=customURL%></a>
            <br>
          <br>
          <h2 class="px-3 py-2 font-semibold text-red-900">You can no longer edit this election</h2>
          <p class="px-3 py-2">your election has <%= CoQuestions %> questions</p>
          <p class="px-3 py-3">your election has <%= CoVoters %> registerdvoters</p>
          <a href="/elections/<%=id%>/voters" class="underline text-pink-600">Manage voters</a> <br>
          <% } %>
            <br>
              <% if (isRunning==false) { %>
                <p class="text-2xl px-4 py-5 font-bold">No of Questions: <%= CoQuestions %>
                </p>
                <% if (questions.length==0) { %>
                <p class="text-red-600 py-2">*your election has <%= CoQuestions %> number of questions</p>
                <br>
                <% } %>
                <a href="/elections/<%=id%>/newQuestion"
                  class="bg-transparent hover:bg-pink-500 text-black font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">
                  +manage Questions+</a>
                <p class="text-2xl px-4 py-5 font-bold"> No of Voters: <%= CoVoters %>
                </p>
                <% if (voterss.length==0) { %>
                <p class="text-red-600 py-2">*your election has <%= CoVoters %> number of voters</p>
                <br>
                <% } %>
                <a href="/elections/<%=id%>/voters"
                  class="bg-transparent hover:bg-pink-500 text-black font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">+manage
                  voters+</a> <br>
      </div><br>
      <div>
        <a href="/elections/<%=id%>/previewEle"
          class="bg-transparent hover:bg-pink-500 text-black font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">
          Preview This Election</a>
      </div>
      <% } %>
        <% if (isRunning==true) { %>
          <br>
          <a href="/e/<%=customURL%>/previewResults" class="px-4 py-4 text-white wt-fit"> <button
              class=" bg-transparent text-black font-semibold hover:text-white bg-green-600 hover:bg-green-800 rounded px-3 py-2">
              Preview Results</button></a>
              <br>
          <% } %>
            <% if (isRunning==true) { %>
              <a class="px-4 py-4 text-white wt-fit"> 
                <button  onclick="EndThisElection()"
                  class="bg-red-600 hover:bg-red-800 rounded px-3 py-2">End This Election</button></a>
              <% } %>
                <div>
                  <br>
                  <a href="/signout"
                    class="relative bg-transparent hover:bg-pink-400 text-pink-600 font-semibold hover:text-white py-2 px-4 border border-pink-600 hover:border-transparent rounded">
                    Signout</a>
                </div>
    </div>
  </div>

  </div>
  </div>


</body>

</html>