<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="csrf-token" content="<%= csrfToken %>">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
    <script>
        var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
        function delQuestion({ id, questionId }) {
            fetch(`/elections/${id}/questions/${questionId}`, {
                method: "delete",
                headers: { "Content-Type": "application/json" },
                body: JSON.stringify({
                    "_csrf": token
                })
            }).then((res) => {
                if (res.ok) {
                    window.location.reload();
                }
            }).catch((err) => console.error(err))
        }
    </script>
</head>

<body>
    <div class="relative flex min-h-screen flex-col py-6 bg-pink-100">
        <div
            class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-auto add-question">
            <div class="mx-auto max-w-md">
                <a href="/Elections" class="hover:text-pink-400 content-center"> <%- include('header.ejs') %> </a>
                <h3 class="px-3 py-3 font-bold text-2xl text-cyan-600">Manage Questions of <%= ElectionName %>
                        -Election: </h3><br>
                <p class="text-2xl px-4 font-bold py-2">No of Questions: <%= CoQuestions %>
                        <% if (questions.length==0) { %>
                            <p class="text-xl px-3">You have not created any questions to show..
                            <div class="py-7">
                                <br><a href="/election/<%=id%>/createNewQuestion"
                                    class="bg-transparent hover:bg-pink-500 text-black font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">
                                    ➕Click here to add questions
                                </a>
                            </div>
                            <% } else{ %>
                                <p class="text-2xl px-3 py-4">Your Questions:</p>
                                <% for(var i=0; i<questions.length; i++) {%>
                                    <a href="/elections/<%=id%>/createNewQuestion/<%=questionIds[i]%>"
                                        class="px-3 text-xl hover:text-pink-600 no-underline hover:underline"></a>
                                    <%= i+1 %> .<%=questions[i].electionQuestion %>
                                            </a> <br>
                                            <div class="flex gap-4 pl-6">
                                                <a href="/editThisElection/<%=id%>/editQuestion/<%=questionIds[i]%>">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-6 h-6 flex-none fill-sky-100 stroke-sky-500 stroke-2 stroke-linecap:round stroke-linejoin:round">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                                    </svg>
                                                </a>
                                                <a onclick="delQuestion({id:<%=id%>,questionId:<%=questionIds[i]%>})">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-6 h-6">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                </a>
                                            </div>
                                            <% } %>
            </div>


            <br><a href="/election/<%=id%>/createNewQuestion"
                class="bg-transparent hover:bg-pink-500 text-black font-semibold hover:text-white py-2 px-4 border border-pink-500 hover:border-transparent rounded">
                ➕ Add more questions from here</a>
            <% } %>
                <div>
                </div>
                <div class="py-4 px-3"> <a href="/elections/<%=id%>"
                        class="text-white bg-pink-600 hover:bg-pink-700 font-medium rounded px-5 py-2">
                        ◂Back</a></div>
                    <br>
                    <a href="/signout"
                        class="relative bg-transparent hover:bg-pink-400 text-pink-600 font-semibold hover:text-white py-2 px-4 border border-pink-600 hover:border-transparent rounded">
                        Signout</a>
                </div>
        </div>
    </div>
</body>

</html>