<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        Preview Page
    </title>
</head>

<body>
    <div>
        <% if(messages && messages.error && messages.error.length> 0) { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                <li class="text-white rounded px-4 py-4 bg-red-500">
                    <%= messages.error[i] %>
                </li>
                <% } %>
                    <% } %>
    </div>
    <div class="relative flex min-h-screen flex-col jsutify-center overflow-hidden py-6 bg-pink-100 ">
        <div
            class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
            <div class="mx-auto max-w-md">
                <div class="relative mx-auto mb-7 w-fit">
                    <div><%- include('header.ejs') %></div>
                    <div>
                        <h3 class="text-xl">Welcome to preview page,
                        </h3>
                        <p>you can preview your election here</p>
                        <br>
                        <script>
                            var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
                            function startElection() {
                                let id = "<%=electionId%>"
                                fetch(`/elections/${id}/start`, {
                                    method: "put",
                                    headers: { "Content-Type": "application/json" },
                                    body: JSON.stringify({
                                        "_csrf": token,
                                    })
                                }).then((res) => {
                                    if (res.ok) {
                                        window.location.replace(`/elections/${electionId}`);
                                    }
                                }).catch((err) => console.error(err))
                            }
                        </script>
                        </head>
                        <div class="mt-4 bg-white shadow-md rounded-lg text-left">
                            <div class="py-2 px-8">
                                <h3 class="px-3 py-3 font-bold text-2xl text-cyan-600">Preview page for <%= ElectionName
                                        %>-Election: </h3>
                                <ol class="list-decimal">
                                    <% for(let i=0; i<questions.length; i++) { %>
                                        <li class="my-2">
                                            <div class="px-2 py-1">
                                                <h3 class="text-2xl my-2 hover:bg-cyan-50 rounded">
                                                    <%= questions[i].electionQuestion %>
                                                </h3>
                                                <p class="text-cyan-800 text-md my-2">
                                                    description:<%= questions[i].questionDescription %>
                                                </p>
                                            </div>
                                            <div class="ml-8">
                                                <ol class="list-none">
                                                    <% for(let j=0; j< options[i].length; j++) { %>
                                                        <li class="option-item mt-2 cursor-pointer">
                                                            <input type="radio" id="<%= options[i][j].id %>"
                                                                class="cursor-pointer"
                                                                name="answer-<%= questions[i].id %>">
                                                            <label
                                                                class="px-1 my-2 cursor-pointer hover:bg-cyan-200 rounded"
                                                                for="<%= options[i][j].id %>" class="ml-2 text-lg ">
                                                                <%= options[i][j].option %>
                                                            </label>
                                                        </li>
                                                        <% } %>
                                                </ol>
                                            </div>
                                        </li>
                                        <% } %>
                                </ol>
                                <div>
                                    <div
                                        class="bg-pink-100 border border-pink-700 text-green-800 rounded w-fit px-4 pt-2 hover:text-white hover:bg-cyan-600 mx-2 ease-linear">
                                        <a href="/elections/<%=electionId%>/">Edit This Election</a>
                                        <br>
                                    </div>
                                    <button onclick="startElection()"
                                        class="bg-cyan-100 border border-cyan-700 text-cyan-800 rounded w-fit px-4 pt-2 hover:text-white hover:bg-cyan-600 mx-2">Start
                                        Election</button>
                                </div>
                            </div>
                        </div>
                        <div> <a href="/Elections"
                                class="w-fit rounded-lg shadow-lg px-3 py-4 bg-pink-500 text-white hover:bg-pink-400 focus:outline-none focus block">
                                home</a>
                        </div>
                    </div>
</body>

</html>