<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>
    <%= title %>
  </title>
</head>

<body>
  <div class="relative flex min-h-screen flex-col jsutify-center overflow-hidden py-6 bg-gray-50 ">
    <div
      class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
      <div class="mx-auto max-w-md">
        <a href="/" class="hover:text-pink-400 content-center"> <%- include('header.ejs') %> </a>
        <p class="text-2xl px-3 py-2">No of Questions: <%= CoQuestions %>
        </p>
        <p>
          <%= CoQuestions %>
        </p>
        <p class="text-2xl px-3 py-3"> No of Voters: <%= CoVoters%>
        </p>
        <a href="/elections/<%=id%>/newQuestion">+get questions from here+</a>
      </div>
    </div>
  </div>


</body>

</html>