<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="<%= csrfToken %>">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>
        <%= title %>
    </title>
    <style>
        input#name:invalid:focus {
            border: 1px solid red;
        }
    </style>
</head>
<script>
var token = document.querySelector('meta[name="csrf-token"]').getAttribute("content");
function editOption() {
    let ids = <%=id%>;
    let questionIds = <%=questionId%>;
    let optionIds = <%=optionId%>;
    let option = document.getElementById("option").value;
    fetch(`/elections/${id}/createNewQuestion/${questionId}/editOptions/${optionId}`, {
        method: "put",
        headers: {"Content-Type":"application/json"},
        body: JSON.stringify({
            "_csrf":token,
            "option":option,
        })
    }).then((res)=>{
        if (res.ok) {
            window.location.replace(`/elections/${id}createNewQuestion/${questionId}/viewOptions`);
        }
    }).catch((err)=> console.error(err))
}
</script>
</head>

<body>
    <div>
        <% if(messages && messages.error && messages.error.length> 0) { %>
            <% for(var i=0; i<messages.error.length; i++) { %>
                <li class="text-white rounded px-4 py-4 bg-red-500">
                    <%= messages.error[i] %>
                </li>
                <% } %>
                    <% } %>
    </div>

    <div class="relative flex min-h-screen flex-col jsutify-center overflow-hidden py-6 bg-pink-100 ">
        <div
            class="relative bg-white px-6 pb-5 shadow-xl ring-1 ring-gray-900/5 sm:mx-auto sm:max-w-lg sm:rounded-lg sm:px-10">
            <div class="mx-auto max-w-md">
                <a href="/Elections" class="hover:text-pink-400 content-center"> <%- include('header.ejs') %> </a>
                <h2 class="text-2xl  text-left font-bold my-5">
                    Update your option here
                </h2>
                <div class="divide-y  divide-gray-300/50">
                    <div class="space-y-6 text-base leading-7 text-ray-600">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <label for="Option" class="text-md w-40 inline-block font-medium leading-5 text-gray-700">
                                edit Option to
                            </label>
                            <input required type="text" id="Option" name="Option"
                                class="bg-gray-100 inline-block rounded-lg shadow-md py-3 px-4 mb-5 text-base leading-6 placeolder-gray-500"
                                placeholder="Enter an option.." required><br>
                            <button
                            type="button"
                            onclick="editOption()"
                            class="w-fit rounded-lg shadow-lg px-5 py-3 bg-green-500 text-white hover:bg-green-400 focus:outline-none focus block">
                            Update Option
                          </button>
                    </div>
                    </form>
                </div>
            </div>  
        </div>
    </div>
</body>

</html>